/* Include Google Fonts for Source Code Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

@font-face {
    font-family: 'ForwardAndBackward';
    src: url("fonts/forward_and_backward.otf") format("opentype");
}

* {
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'ForwardAndBackward', 'Courier New', Courier, 'Source Code Pro', monospace;
    background: rgb(237, 240, 242);
    /* addButtonListeners('reset-button', ()=> resetBoard(board, mirrorBoard)); */
    /* Example gradient */
    font-size: 20px;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #3c3c3c;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); */

}

.words-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 190px;
    /* Fixed height */
    max-height: 180px;
    /* Ensure the height doesn't shrink below this */
    overflow-y: auto;
    /* Enable vertical scrolling */
    padding: 10px;
    border-radius: 5px;
}

.word {
    cursor: move;
    font-size: 24px;
    display: inline-block;
    padding: 6px;
    max-height: 40px;
    /* Adjusted padding */
    background-color: white;
    color: #000;
    margin: 2px;
    /* Adjusted margin */
    border-radius: 0px 8px 0px 8px;
    user-select: none;
    touch-action: none;
    /* Prevent default touch behaviors */
    /* transition: transform 0.1s ease-in-out; */
    font-weight: 900;
    /* Adjusted font size */
}

.word.dragging {
    /* transform: scale(1.1); */
    box-shadow: none;
    opacity: 0.8;
    font-weight: 500;
    /* Maintain the reduced font weight during dragging */
}

.board {
    width: 100%;
    max-width: 600px;
    height: 400px;
    position: relative;
    background-color: rgb(203, 220, 228);
    border-radius: 0px 12px 0px 12px;
    /* Chalkboard color */
    margin: 0 auto;
    padding: 20px;
    border: 0.5px solid #dfdfdf;
    position: relative;
    overflow: hidden;
}





.reset-button,
.share-button,
.download-button {
    font-family: 'ForwardAndBackward', 'Courier New', Courier, 'Source Code Pro', monospace;
    display: inline-block;
    /* padding: 10px 20px; */
    max-width: 80px;

    font-size: 25px;
    color: #595959;
    background-color: #ffffff;
    border: 0.5px solid #dfdfdf;
    border-radius: 0px 5px 0px 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: 900;
}

.download-button:hover,
.reset-button:hover,
.share-button:hover {
    background-color: #d8e0ff;
    transform: scale(1.1);
}

.download-button:active,
.reset-button:active,
.share-button:active {
    background-color: #b3c8dd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.download-button:focus,
.reset-button:focus,
.share-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}

.buttons {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 200px;
    margin: 10px auto;

}

.buttons2 {
    padding: 20px;
    display: flex;

    max-width: 600px;
    margin: auto;
    justify-content: center;

}

.mirror-container {
    transform: scaleX(-1);
    width: 100%;
    /* Flip horizontally */
}

.mirr {
    width: 100%;
    padding: 20px;
    background-color: linear-gradient(-135deg, #feb47b, #ff7e5f);
}

.nomirr {
    width: 100%;
    padding: 20px;
}

.mirror-container .board {
    max-width: 600px;
    border-radius: 0px 12px 0px 12px;
}

.footer {

    display: flex;

    width: 100%;
    color: rgb(95, 95, 95);
    padding: 20px;
    margin: auto;

}

a {
    color: rgb(85, 94, 113);
    text-decoration: none;
}

a:hover {
    color: #0e73aa;
    font-size: 18px;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    body {
        font-size: 16px;
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .word {
        font-size: 20px;
        padding: 6px;
        max-height: 35px;
    }

    .reset-button,

    .download-button {
        font-size: 16px;
        padding: 8px 16px;
    }


}

@media (max-width: 480px) {
    body {
        font-size: 14px;
        padding: 5px;
    }

    h1 {
        font-size: 20px;
    }

    .word {
        font-size: 18px;
        padding: 6px;
        max-height: 30px;
    }

    .reset-button,

    .download-button {
        font-size: 14px;
        padding: 6px 12px;
    }


}